/* CONFIGS BASICAS */
/* ______________________________________ */

html {
    font-size: 62.5%;
}

body {
    background:var(--cor-fundo);
}

:root {
    --cor-fundo:#202020;
    --cor-destaque: #B140A6;
    --cor-destaquesecundaria: #da4ecc;
    --cor-destaqueterciaria: #6e2367;
    --cor-amarelo: #F8BC22;
    --cor-texto: #E7E7E7;
  }

body,li,ul,h1,h2,h3,h4,h5,h6,p,button,div,a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: var(--cor-texto);

    font-size: 30px;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

/* __________________________________________________________________________________________________________________ */

@font-face {
    font-family: Gabriela;
    src: url(fonts/gabriela.regular.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto_B;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Robo_I;
    src: url(fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto_Serifa;
    src: url(fonts/RobotoSlab-VariableFont_wght.ttf);
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* text-align: center; */
}

h1,h2,h3 {
    color:var(--cor-texto);
    font-size: 6rem;
    font-family: Gabriela;
    /* text-align: center; */
}

h2,h3 {
    margin-top: 1rem;
    font-size: 2.8rem;
}

.bemvindo {
    color: var(--cor-texto);
    font-size: 6rem;
    font-family: Gabriela;
    margin: 0px;
    margin-top: 2.3rem;
    text-align: center;
}

.bemvindo2 {
    color: var(--cor-texto);
    font-size: 3.6rem;
    font-family: Arial;
    margin-top: 24px;
    text-align: center;
}

.bemvindo3 {
    color: var(--cor-texto);
    font-size: 5.5rem;
    font-family: Arial;
    margin-top: calc(110px - 5vh);
    text-align: center;
}

.comece {
    /* position: relative; */
    max-width: fit-content;
    /* left: 33.5vw; */
    /* top: calc(320px- 5vh); */
    /* top:30vw; */
    /* left: 65vh; */
    text-align: center;
    font-size: 4vw;
    padding: 1.8rem;
    color: rgb(250, 204, 79);
    background: var(--cor-destaque);
    box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 500px;
    font-family: Arial;
}

.comece:hover {
    background: var(--cor-destaqueterciaria); 
    color: rgb(44, 44, 44);    
    box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.65);
}
.amarelo {
    color: var(--cor-amarelo);
    /* font-weight: 0; */
    /* text-transform: lowercase; */
}

.red {
    color: rgb(156, 24, 24);
}

p {
    color:var(--cor-texto);
    font-family: Arial;
    /* font-weight: 300; */
    /* font-size: 22px; */
}

.underline {
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

#btn-mobile {
    cursor: pointer;
}

#btn-mobile:hover {
    fill: rgb(48, 48, 48);
}


.um {
    color:darkblue;
    font-family: 'Courier New';
    text-decoration: underline;
    font-size: 19px;
}

.dois {
    color:darkred;
    font-family: 'Courier New';
    text-decoration: underline;
    font-size: 19px;
}

/* div {
    background: rgba(220, 206, 241,0.45);
    width: 280px;
    height: 170px;
    margin: 20px;
    padding: 20px;
    border:6px solid rgb(29, 25, 28);
} */

.barra {
   background-color: var(--cor-fundo);
   /* max-width: 101.2%; */
   width: 101.2%;
   height: 20px;
   place-self: start end;
   margin: -8px;
   padding-left: 2px;
   color: var(--cor-texto);
   display: inline-block;
   font-family: Roboto;
}

#ultimo {
    position: relative;
    top: 0px;
    left:61.4%;
}

#fundo {
    background: rgba(0, 0, 0,0.55);
    /* opacity: 0.63; */
    margin: 0px;
    position: absolute;
    width: 100%;
    height: calc(100vh - 101px);
    top: 101px;
    z-index: 100;
}

.imgfundo {
    margin: 0px;
    position: absolute;
    top: 101px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 101px);
    /* max-height: 100vh; */
    z-index: 10;
    display: inline;
}

#preto   {
    background-color: var(--cor-fundo);
    justify-content: space-between;
    font-size: 15;
    font-family: Arial;
    max-height: 20px;
    margin: 0;
    color: rgba(245, 245, 245, 0.452);
}

a {
    color: var(--cor-destaque);
}




a:hover {
    color: var(--cor-destaquesecundaria);
}

#UVC {
color: var(--cor-texto);
text-align:end;
background: var(--cor-fundo);
width: auto;
height: auto;
margin-right: 53px;
margin-top: -16px;
font-family: Roboto;
}







.uvcortado {
    position: relative;
    left: 0px;
    top: -5px;
    width: 156;
    height: 46;
    border: solid 1px rgba(0, 0, 0, 0);
    /* padding: 5 10; */
    
 }

.uvcortado:hover {
    /* padding: 5 10; */
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 1);

}

#principal {
    max-width: 100%;
    margin: max-content;
 }

 
 .menu {
    margin-bottom: 1.2rem;
    text-decoration: none;
    font-family: 'Open Sans',Arial,sans-serif;
    /* text-transform: uppercase; */
    color: var(--cor-texto);
    display: flex;
 }

 header {
    /* margin-top: 20; */
    background: var(--cor-destaque);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    /* position: fixed;
    width: 99vw;
    z-index: 20000000000000; */
    /* padding-top: -5px; */
    max-width: 100%;
 }

 header,#preto {
    margin: 0 auto;
    max-width: 1853px;
 }

 #coiso {
    display: flex;
 }

 #coiso li {
    margin-left: 10px;
 }

 #coiso li a {
    display: block;
    /* padding: 10px; */
 }

 #btn-mobile {
    display: none
 }

 .mobileonly {
    display: none;
 }

 @media (max-width: 650px) {
html {
    font-size: 50%;
}


    #coiso {
        /* display:none; */
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        background-color:#a33c99 ;
        transition: .4s;
        height: calc(100vh);
        z-index: 100000;
        width: 0px;
        visibility: hidden;
        overflow-x: hidden;

    }

    .imgfundo,fundo {
        top: 81px;
    }

    .imgfundo,fundo {
        height: 100%;
    }

    .bemvindo {
        color: var(--cor-texto);
        font-size:  6rem;
        font-family: Gabriela;
        margin: 0px;
        margin-top: 1vh;
        text-align: center;
    }
    
    .bemvindo2 {
        color: var(--cor-texto);
        font-size: 3.22rem;
        font-family: Arial;
        margin-top: 1.8237082066869301vh;
        text-align: center;
    }
    
    .bemvindo3 {
        color: var(--cor-texto);
        font-size: 5rem;
        font-family: Arial;
        margin-top: 10vh;
        text-align: center;
    }
    
    .comece {
        font-size: 3.78rem;
    }

    .mobileonly {
        display: block;
    }



    #preto {
        display: none;
    }


    .header {
        /* display: block; */
        padding: 23.5px;
        margin-top: 0;
        /* display: none; */
    }
    #btn-mobile {
        display:block
    } 

    #nav.active #coiso { 
        display: block;
        width: 100%;
        visibility: visible;
        overflow-x: auto;
     }

     .uvcortado {
        position: absolute;
        left: 20px;
        top: 28px;
        width: 104;
        height: 34;
     }

 #coiso a  {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom:2px solid rgba(0,0,0,.10);
    text-align: end;
 }
}
@media (min-height: 700px) and (min-width: 370px) {

html {
    font-size: 55%;
}

}
@media (max-width: 900px) and (min-height: 700px) {
.bemvindo2 {
    font-size: 4.5rem;
}
}

#fundoespaço {
    background-image: url(/img/espaço.jpg);
    background-size: 85%;
    width: 100%;
    height: calc(100vh - 101px);
    max-width: 1900px;
    margin: 0 auto;
    /* margin-top: 101px;    */
    /* height: calc(100% - 101px); */
    /* margin: 0 auto; */
}

#carretel {
    margin: auto;
    position: relative;
    top: 25px;
    width: 750px;
    height: 500px;
    border: var(--cor-fundo) solid 5px;
    border-radius: 25px;
    display:flex;
    background-image: url(/img/congregadores\ mão.png);
    background-position: center;
}

#carretexto {
    align-self: flex-end;
    background: rgba(0, 0, 0, 0.80);
    font-size: 16px;
    min-width: 750px;
    padding: 5 15px ;
}

#carretexto::after {
    content: "Confira a jornada de Ciecon,o homem que sonha com um universo justo e livre.";
}

#seta,#seta2 {
    width: 96px;
    height: 96px;
}


.setas {
    margin: 0;
    max-height: 100px;
    min-width: 750px;
    position: relative;
    right: 780px;
    top: 200px;
    display: flex;
    justify-content: space-between;
}


#underline2 {
    font-size: 20px;
    margin-right: 10px;
    text-decoration: underline;
}

.dropboxcontos {
    background: var(--cor-destaque);
    padding: 0px 15px;
    width: 270px;
    text-align: center;
    border-radius: 4px;
    font-family: Gabriela;
    font-size: 28px;
    color: var(--cor-texto);
    box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.35);

}

.dropboxcontos:hover {
    background: var(--cor-destaqueterciaria);
    cursor: pointer;
}

#dropbox {
    justify-items: center;
    width: 240px;
    display: grid;
    grid-template-rows: 40px 40px 40px;
    /* gap: 12px; */
    margin: 0 auto;
    margin-top: 20px;
}

#caixa2,#caixa3,#setacaixa2,#setacaixa3 {
    display: none;
}

.setacaixa {
    position: relative;
    top: 2.8px;
}

#setacaixa1 {
    left: 10px;
}

#setacaixa2 {
    left: 75px;
}

#setacaixa3 {
    left: 80px;
}

#dropbox.active #caixa2 {
    display: block;
}

#dropbox.active #caixa1 {
    display: block;
}

#dropbox.active #caixa3 {
    display: block;
}

#dropbox.active img {
    transform: rotate(1.5turn);
}


#gridcaixas {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    margin: 0px;
    margin-top: 12px;
    margin-left: 4%;
    margin-right: 4%;
    gap: 13rem; 
    justify-content: center;
}

.caixa {
background: #131313;
width: 300px;
}

#img-caixa1 {
    background-image: url(/img/MeninoResiliente.png);
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 300px;
}

#img-caixa2 {
    background-image: url(/img/congregadores\ mão.png);
    background-position: center;
    background-size: 140%;
    width: 300px;
    height: 300px;
}

#img-caixa3 {
    background-color: var(--cor-texto);
    background-image: url(/img/RRH\ 2.png);
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 300px;
}

.caixatexto {
    height: 215px;
background: #131313;
/* background: #1C1818; */
box-shadow: inset 0px -6px 2px rgba(0, 0, 0, 0.35);
}

#caixatitulo {
    margin: 0 auto;
    display: block;
    width: max-content;
    margin-top: 12px;
    font-family: Roboto_Serifa;
}

#tipos {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.descricao {
    margin: 0 auto;
    margin-top: 12px;
    text-align: center;
    width: 260px;
    font-size: 19.5px;
}

.uppercase-caixa {
    text-transform: uppercase;
    font-family: Roboto_Serifa;
}

#tipo {
    color: var(--cor-amarelo);
}

#titulonovidades,#subtitulonovidades {
    display: none;
}




@media (min-height: 970px) {
    #fundoespaço {
        max-height: 780px;
    }
}

@media (max-width: 660px) {
    #carretel {
        width: 85vw;
        height: 85vw;
        top: 40px;
        margin: 0 auto;
        /* margin-left: 12px; */
        /* margin-right: 12px; */
}


#titulonovidades,#subtitulonovidades {
    display: block;
    font-family: Gabriela;
    margin: 0 auto;
    width: max-content;
    position: relative;
    top: 20px;
    font-size: 26px;
}

#titulonovidades {
    font-size: 32px;
}

#carretexto {
    /* width: 10px; */
    min-width: 80vw;
}

#carretexto::after {
    content: "";
}

#carretexto::before {
    content: "Confira agora:";
    font-size: 20px;
    margin-right: 12px;
}

.setas {
    z-index: 31280391809381209381209380912;
    /* display: none; */
    position: relative;
    right: 100%;
    /* right: 320px; */
    margin: 0 auto;
    width: 72vw;
    min-width: 80vw;
    top: 135px;
}

#seta,#seta2 {
    width: 64px;
    height: 64px;
    opacity: 0.35;
}

#dropbox {
    width: auto;
}

#gridcaixas {
justify-items: center;
width: auto;
margin: 0 auto;
margin-top: 36px;

}

.caixa {
/* width: auto; */
position: relative;
/* left: 18vw; */
}


}


/* tela saiba mais */


#img-saibamais {
    width: 100vw;
    height: 200px;
    background-image: url(/img/UVC\ space2.png);
    background-position-y: center;
    background-position-x: center;
    background-repeat: repeat-y;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#img-saibamais h1 {
    margin-top: 30px;
    /* display: none; */
    font-family: Roboto_B;
}

#img-saibamais h3 {
    /* margin-top: 30px; */
    /* display: none; */
    font-family: Roboto;
}
/* sepa no javascript tem que fazer com que quando abra o treco tbm mude a min height / max height do card inteiro,pq fica meio quebrado. */
#titulosaibamais {
    margin-left: 32px;
}
/* sepa no javascript tem que fazer com que quando abra o treco tbm mude a min height / max height do card inteiro,pq fica meio quebrado. */
#titulosaibamais::after {
    content: "";
    width: 630px;
    height: 5px;
    background: gray;
    display: block;
    border-radius: 25px;
    /* padding: 0 10; */
}
/* sepa no javascript tem que fazer com que quando abra o treco tbm mude a min height / max height do card inteiro,pq fica meio quebrado. */
.cardfaq {
    margin: 0 auto;
    background-color: #1B1B1B;
    width: 500px;
    max-height: 380px;
    display: grid;
    justify-items: center;
    grid-template-rows: 0.25fr 50px;
}
/* sepa no javascript tem que fazer com que quando abra o treco tbm mude a min height / max height do card inteiro,pq fica meio quebrado. */
#pergunta {
    text-decoration: underline;
}
/* sepa no javascript tem que fazer com que quando abra o treco tbm mude a min height / max height do card inteiro,pq fica meio quebrado. */
#abridor {
    width: 500px;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}
/* sepa no javascript tem que fazer com que quando abra o treco tbm mude a min height / max height do card inteiro,pq fica meio quebrado. */
.resposta {
    font-size: 28.5px;
    max-width: 380px;
    text-align: center;
    /* margin-top: 42px; */
    display: none;
}

#abridor img {
    height: 38px;
    width: 38px;
}

#abridor img:hover {
    cursor: pointer;
}

#cardfaq1.active {
    margin: 0 auto;
    background-color: #1B1B1B;
    width: 500px;
    max-height: 380px;
    display: grid;
    justify-items: center;
    grid-template-rows: 0.25fr 196px 50px;
}

#resposta1.active {
    display: block;
    margin-top: 12px;
}

/* sepa no javascript tem que fazer com que quando abra o treco tbm mude a min height / max height do card inteiro,pq fica meio quebrado. */